<footer class="page-footer font-small unique-color-dark" > <!-- Footer -->
    <div class="container-fluid text-center text-md-left"> <!-- Footer Text -->
        <div class="row" > <!-- Grid row -->
            <div class="col-4" align="center"> <!-- Grid column -->
                <!-- Content -->
                <a href="http://www.miage.fr/">
                    <img id="miage" alt="MIAGE" src="../../../content/images/logo_MIAGE.png">
                </a>
            </div> <!-- /Grid column -->

            <div class="col-3" align="center" style="padding-top: 1%"> <!-- Grid column -->
                <!-- Content -->
                <a id="footer-faq" class="hoverable" routerLink="faq/test" routerLinkActive="active">
                    <fa-icon icon="book" fixedWidth="true"></fa-icon>
                    <span>FAQ</span>
                </a>
            </div> <!-- /Grid column -->

            <div class="col-4" align="center"> <!-- Grid column -->
                <!-- Content -->
                <a href="https://www.u-bordeaux.fr/">
                    <img alt="Université de Bordeaux" src="../../../content/images/logo_universite.png">
                </a>
            </div> <!-- /Grid column -->
        </div> <!-- /Grid row -->
    </div> <!-- /Footer Text -->
</footer> <!-- /Footer -->

