<footer class="page-footer font-small unique-color-dark" > <!-- Footer -->
    <div class="container-fluid text-center text-md-left"> <!-- Footer Text -->
        <div class="row"> <!-- Grid row -->
            <div class="col-md-6 mt-md-0 mt-3" align="center"> <!-- Grid column -->

                <!-- Content -->
                <a href="http://www.miage.fr/">
                    <img alt="MIAGE" src="../../../content/images/logo_MIAGE.png" style="margin-top:2em;"
                         width="200" height="50">
                </a>

            </div> <!-- /Grid column -->
            <div class="col-md-6 mb-md-0 mb-3" align="center"> <!-- Grid column -->

                <!-- Content -->
                <a href="https://www.u-bordeaux.fr/">
                    <img alt="Université de Bordeaux" src="../../../content/images/logo_universite.svg"
                         width="200" height="100">
                </a>

            </div> <!-- /Grid column -->
        </div> <!-- /Grid row -->
    </div> <!-- /Footer Text -->
</footer> <!-- /Footer -->

