#footer-faq {
  display: block;
  color: black;
  padding-top: 3%;
}

#footer-faq:hover {
  text-decoration: none;
}

.page-footer {
  margin-top: 1%;
  width: 100%;
  padding-left: 8%;
}

.page-footer img {
  width: 35%;
  height: auto;
}

#miage {
  margin-top: 3%;
}

@media (max-width: 576px) {
  .page-footer img {
    width: 90%;
  }

  #miage {
    margin-top: 7%;
  }

  #footer-faq {
    font-size: 10px;
    padding-top: 10%;
  }
}
