<div class="row">
    <div class="col-12">
        <div *ngIf="userExtra">
            <h2><span jhiTranslate="projetticApp.userExtra.detail.title">User Extra</span> {{ userExtra.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetticApp.userExtra.actif">Actif</span></dt>
                <dd>
                    <span>{{ userExtra.actif }}</span>
                </dd>
                <dt><span jhiTranslate="projetticApp.userExtra.typeUtilisateur">Type Utilisateur</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'projetticApp.TypeUtilisateur.' + userExtra.typeUtilisateur }}">{{ userExtra.typeUtilisateur }}</span>
                </dd>
                <dt><span jhiTranslate="projetticApp.userExtra.user">User</span></dt>
                <dd>
                    {{ userExtra.userId }}
                </dd>
                <dt><span jhiTranslate="projetticApp.userExtra.evaluation">Evaluation</span></dt>
                <dd>
                    <div *ngIf="userExtra.evaluationId">
                        <a [routerLink]="['/evaluation', userExtra.evaluationId, 'view']">{{ userExtra.evaluationId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetticApp.userExtra.groupe">Groupe</span></dt>
                <dd>
                    <div *ngIf="userExtra.groupeId">
                        <a [routerLink]="['/groupe', userExtra.groupeId, 'view']">{{ userExtra.groupeId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-extra', userExtra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
