<div>
    <div *ngIf="project">
        <h2 jhiTranslate="projetticApp.projet.attribuate.titre" [translateValues]="{titre: project.nom}">
            Attribution </h2>

        <br>

        <div class="table-responsive" id="entities" *ngIf="groups?.length > 0">

            <table class="table table-striped" aria-describedby="page-heading">
                <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="projetticApp.projet.attribuate.chefPro"></span></th>
                    <th scope="col"><span jhiTranslate="projetticApp.projet.attribuate.etudiant"></span></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let group of groups ;">

                    <td>
                        <div *ngFor="let u of users">
                            <div *ngIf="u.id === group.userExtraId">
                                <span> {{ u.firstName }} {{ u.lastName }} </span>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div *ngFor="let ue of usersExtra">
                            <div *ngIf="ue.groupeId === group.id && ue.userId != group.userExtraId">
                                <div *ngFor="let u of users">
                                    <div *ngIf="u.id === ue.id">
                                        <span> {{ u.firstName }} {{ u.lastName }}<br> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="button"
                                    (click)="assign(group.id)"
                                    class="btn btn-success btn-sm">
                                <fa-icon icon="check"></fa-icon>
                                <span jhiTranslate="projetticApp.projet.attribuate.attribGroupe"></span>
                            </button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type="submit" (click)="previousState()" class="btn btn-info">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

    </div>
</div>
