<div id="entities">
    <h2>{{ project?.nom }}</h2>
    <hr>
    <div class="jh-entity-details">
        <div>
            <label class="form-control-label bold" jhiTranslate="projetticApp.projet.client"></label>
            <span>{{ customer?.firstName }} {{ customer?.lastName }}</span>
        </div>
        <div>
            <label class="form-control-label bold" jhiTranslate="projetticApp.projet.email"></label>
            <span>{{ customer?.email }}</span>
        </div>
    </div>

    <div class="mtl">
        <div>
            <label class="form-control-label bold" jhiTranslate="projetticApp.projet.nbEtudiant"></label>
            <span>{{ project?.nbEtudiant }}</span>
        </div>

        <div>
            <label class="man bold" jhiTranslate="projetticApp.projet.groupe"></label>
            <div *ngFor="let membre of members">
                <span *ngIf="group.userExtraId === membre.id"><span jhiTranslate="projetticApp.projet.form.label.chef"></span> : {{ membre.firstName + " " + membre.lastName }}</span>
            </div>
            <div class="membres">
                <span class="man" jhiTranslate="projetticApp.projet.form.label.membres"></span>
                <div *ngFor="let membre of membersWithoutChief">
                    <span *ngIf="membre !== membersWithoutChief[membersWithoutChief.length -1]">{{ membre.firstName + " " + membre.lastName + "," + " "}}</span>
                    <span *ngIf="membre === membersWithoutChief[membersWithoutChief.length -1]">{{ membre.firstName + " " + membre.lastName}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="mtl">
        <label class="man bold" jhiTranslate="projetticApp.projet.documents.title"></label>
        <div class="row">
            <form class="col-sm-4" name="editForm" role="form" novalidate [formGroup]="documentFormZIP">
                <div class="form-group">
                    <div>
                        <div *ngIf="documentFormZIP.get('documentZIP')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(documentFormZIP.get('documentZIPContentType')!.value, documentFormZIP.get('documentZIP')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ documentFormZIP.get('documentZIPContentType')!.value }}, {{ byteSize(documentFormZIP.get('documentZIP')!.value) }}</span>
                            <button type="button"
                                    (click)="deleteDoc();setFileData($event, 'documentZIP', false)"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" #file_documentZIP id="file_documentZIP" (change)="setFileData($event, 'documentZIP', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div>
        <button type="button" id="save-entity" class="btn btn-primary" (click)="saveDocument()" >
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save"></span>
        </button>
    </div>
</div>
