<div>
    <div class="row">
        <div class="col-md-8">
            <h1 class="display-6" jhiTranslate="faq.title"></h1>

            <div class="role" jhiTranslate="faq.general"> </div>
            <ul>
                <li>
                    <p class="text" jhiTranslate="faq.general.one.question"></p>
                    <p class="text" jhiTranslate="faq.general.one.answer"></p>
                </li>
                <li>
                    <p class="text" jhiTranslate="faq.general.two.question"></p>
                    <p class="text" jhiTranslate="faq.general.two.answer"></p>
                </li>
                <li>
                    <p class="text" jhiTranslate="faq.general.three.question"></p>
                    <p class="text" jhiTranslate="faq.general.three.answer"></p>
                </li>
            </ul>

            <div class="role" jhiTranslate="faq.client"> </div>
            <ul>
                <li>
                    <p class="text" jhiTranslate="faq.client.one.question"></p>
                    <p class="text" jhiTranslate="faq.client.one.answer"></p>
                </li>
            </ul>

            <div class="role" jhiTranslate="faq.etudiant"> </div>
            <ul>
                <li>
                    <p class="text" jhiTranslate="faq.etudiant.one.question"></p>
                    <p class="text" jhiTranslate="faq.etudiant.one.answer"></p>
                </li>
                <li>
                    <p class="text" jhiTranslate="faq.etudiant.two.question"></p>
                    <p class="text" jhiTranslate="faq.etudiant.two.answer"></p>
                </li>
                <li>
                    <p class="text" jhiTranslate="faq.etudiant.three.question"></p>
                    <p class="text" jhiTranslate="faq.etudiant.three.answer"></p>
                </li>
                <li>
                    <p class="text" jhiTranslate="faq.etudiant.four.question"></p>
                    <p class="text" jhiTranslate="faq.etudiant.four.answer"></p>
                </li>
                <li>
                    <p class="text" jhiTranslate="faq.etudiant.five.question"></p>
                    <p class="text" jhiTranslate="faq.etudiant.five.answer"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
