<div>
    <div class="row">
        <div class="col-md-8">
            <h2 class="display-6" jhiTranslate="faq.title"></h2>

            <p class="mb-1 lead underline" jhiTranslate="faq.general.role"></p>
            <ul id="faq-general" class="mb-4">
                <li>
                    <p class="mbn bold" jhiTranslate="faq.general.one.question"></p>
                    <p class="mtn" jhiTranslate="faq.general.one.answer"></p>
                </li>
                <li>
                    <p class="mbn bold" jhiTranslate="faq.general.two.question"></p>
                    <p class="mtn" jhiTranslate="faq.general.two.answer"></p>
                </li>
                <li>
                    <p class="mbn bold" jhiTranslate="faq.general.three.question"></p>
                    <p class="mtn" jhiTranslate="faq.general.three.answer"></p>
                </li>
            </ul>

            <p class="mb-1 lead underline" jhiTranslate="faq.client.role"></p>
            <ul class="mb-4">
                <li>
                    <p class="mbn bold" jhiTranslate="faq.client.one.question"></p>
                    <p class="mtn" jhiTranslate="faq.client.one.answer"></p>
                </li>
            </ul>

            <p class="mb-1 lead underline" jhiTranslate="faq.student.role"></p>
            <ul class="mb-4">
                <li>
                    <p class="mb-0 bold" jhiTranslate="faq.student.one.question"></p>
                    <p class="mtn" jhiTranslate="faq.student.one.answer"></p>
                </li>
                <li>
                    <p class="mbn bold" jhiTranslate="faq.student.two.question"></p>
                    <p class="mtn" jhiTranslate="faq.student.two.answer"></p>
                </li>
                <li>
                    <p class="mbn bold" jhiTranslate="faq.student.three.question"></p>
                    <p class="mtn" jhiTranslate="faq.student.three.answer"></p>
                </li>
                <li>
                    <p class="mbn bold" jhiTranslate="faq.student.four.question"></p>
                    <p class="mtn" jhiTranslate="faq.student.four.answer"></p>
                </li>
                <li>
                    <p class="mbn bold" jhiTranslate="faq.student.five.question"></p>
                    <p class="mtn" jhiTranslate="faq.student.five.answer"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
