#formulaireGroupe {
  margin-top: 20px;
}

#divSelectBox {
  margin-top: 20px;
}

#boutonValidation {
  margin-top: 20px;
}

select {
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #000000;
}
