#formulaireGroupe {
  margin-top: 20px;
}

#divSelectBox {
  margin-top: 20px;
}

#boutonValidation {
  margin-top: 20px;
}

select {
  color: #000000;
}

.projet-label-postuler {
  width:22%;
}

.projet-input-chef {
  width:33%;
}
