#formulaireGroupe {
  margin-top: 20px;
}

#divSelectBox {
  margin-top: 20px;
}

#boutonValidation {
  margin-top: 20px;
}

select {
  color: #000000;
}

.projet-label-postuler {
  width: 100%;
}

@media (min-width: 600px) {
  .projet-input-chef,
  .projet-label-postuler {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .projet-input-chef,
  .projet-label-postuler {
    width: 33%;
  }
}
