<div>
    <h2>
        <span id="user-management-page-heading" jhiTranslate="userManagement.home.title">Users</span>
    </h2>

    <div class="table-responsive" *ngIf="users">
        <table class="table table-striped" aria-describedby="user-management-page-heading">
            <thead>
                <tr>
                    <th scope="col"><span jhiTranslate="userManagement.account">Account</span></th>
                    <th scope="col"><span jhiTranslate="userManagement.lastName">Lastname</span></th>
                    <th scope="col"><span jhiTranslate="userManagement.firstName">Firstname</span></th>
                    <th scope="col"><span jhiTranslate="userManagement.email">Email</span></th>
                    <th scope="col"><span jhiTranslate="userManagement.status">Role</span></th>
                    <th scope="col"><span jhiTranslate="userManagement.cursus">Grade</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody *ngIf="users">
                <tr *ngFor="let user of users; trackBy: trackIdentity">
                    <td class="usr-managt-compte">
                        <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated"
                                jhiTranslate="userManagement.deactivated">Deactivated</button>
                        <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated"
                                [disabled]="!currentAccount || currentAccount.login === user.login" jhiTranslate="userManagement.activated">Activated</button>
                    </td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        <span *ngIf="user.authorities.includes('ROLE_ADMIN')">
                            <span class="badge badge-danger">ADMIN</span>
                        </span>
                        <span [ngClass]="user.authorities.includes('ROLE_ETUDIANT') ? 'badge-primary' : 'badge-info'" class="badge">{{ user.typeUtilisateur }}</span>
                    </td>
                    <td class="text-center">{{ user.cursus }}</td>

                    <td class="usr-mangt-btn">
                        <div class="btn-group">

                            <button type="button" *ngIf="isEtudiantMaster(user)"
                                    (click)="redoubler(user)"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="book"></fa-icon>
                                <span jhiTranslate="entity.action.redoubler"></span>
                            </button>


                            <button type="submit"
                                    [routerLink]="['./', user.login, 'edit']"
                                    queryParamsHandling="merge"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="button" (click)="deleteUser(user)"
                                    class="btn btn-danger btn-sm" [disabled]="!currentAccount || currentAccount.login === user.login">
                                <fa-icon icon="times"></fa-icon>
                                <span jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
