<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetticApp.groupe.home.title">Groupes</span>

        <button *ngIf="groupes?.length > 0" type="submit" (click)="exporter()" class="btn btn-success float-right">
            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="projetticApp.groupe.exporter"></span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <hr>

    <div class="table-responsive" id="entities" *ngIf="groupes?.length > 0">
        <div class="filterButtons">
            <button id="filtreAucun" type="submit"
                    (click)="reinitFiltreGroupes()"
                    class="btn btn-success btn-sm">
                <fa-icon icon="ban"></fa-icon>
                <span jhiTranslate="projetticApp.projet.filtre.aucun"></span>
            </button>
            <button id="filtreL3" type="submit"
                    (click)="filtrerGroupes(L3)"
                    class="btn btn-danger btn-sm">
                <span>{{L3}}</span>
            </button>
            <button id="filtreM1" type="submit"
                    (click)="filtrerGroupes(M1)"
                    class="btn btn-danger btn-sm">
                <span>{{M1}}</span>
            </button>
            <button id="filtreM2" type="submit"
                    (click)="filtrerGroupes(M2)"
                    class="btn btn-danger btn-sm">
                <span>{{M2}}</span>
            </button>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="groupesFiltres?.length === 0">
        <span jhiTranslate="projetticApp.groupe.home.notFound">No groupes found</span>
    </div>

    <div class="table-responsive" *ngIf="groupes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading" *ngIf="groupesFiltres?.length > 0">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.projet"></span></th>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.client"></span></th>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.chef"></span></th>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.membres"></span></th>
                </tr>
            </thead>
            <tbody id="data">
                <ng-container *ngFor="let groupe of groupesFiltres">
                    <tr *ngIf="groupe.valide">
                        <td>
                            <div *ngIf="groupe.projetId">
                                <a [routerLink]="['/projet', groupe.projetId , 'view']" [textContent]="getNomProjet(groupe.projetId)"></a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span [textContent]="getClient(groupe.projetId)"></span>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="groupe.userExtraId">
                                <span [textContent]="getChefProjet(groupe.userExtraId)"></span>
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let extra of userExtras">
                                <ng-container *ngIf="isMembreGroupe(extra, groupe) && !isChef(extra, groupe)">
                                    <span [textContent]="getMembreProjet(extra)"></span>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
