<div>
    <h2 id="page-heading">
        <span jhiTranslate="projetticApp.groupe.home.title">Groupes</span>

        <button type="submit" (click)="exporter()" class="btn btn-success float-right">
            <fa-icon icon="book"></fa-icon>&nbsp;<span jhiTranslate="projetticApp.groupe.exporter"></span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="groupes?.length === 0">
        <span jhiTranslate="projetticApp.groupe.home.notFound">No groupes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="groupes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.projet"></span></th>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.client"></span></th>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.chef"></span></th>
                    <th scope="col" ><span jhiTranslate="projetticApp.groupe.membres"></span></th>
                </tr>
            </thead>
            <tbody id="data">
                <ng-container *ngFor="let groupe of groupes">
                    <tr *ngIf="groupe.valide">
                        <td>
                            <div *ngIf="groupe.projetId">
                                <a [routerLink]="['/projet', groupe.projetId , 'view']" [textContent]="getNomProjet(groupe.projetId)"></a>
                            </div>
                        </td>
                        <td>
                            <div>
                                <span [textContent]="getClient(groupe.projetId)"></span>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="groupe.userExtraId">
                                <span [textContent]="getChefProjet(groupe.userExtraId)"></span>
                            </div>
                        </td>
                        <td>
                            <div *ngFor="let extra of userExtras">
                                <ng-container *ngIf="isMembreGroupe(extra, groupe) && !isChef(extra, groupe)">
                                    <span [textContent]="getMembreProjet(extra)"></span>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
