<div class="row">
    <div class="col-12">
        <div *ngIf="groupe">
            <h2><span jhiTranslate="projetticApp.groupe.detail.title">Groupe</span> {{ groupe.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="projetticApp.groupe.valide">Valide</span></dt>
                <dd>
                    <span>{{ groupe.valide }}</span>
                </dd>
                <dt><span jhiTranslate="projetticApp.groupe.userExtra">User Extra</span></dt>
                <dd>
                    <div *ngIf="groupe.userExtraId">
                        <a [routerLink]="['/user-extra', groupe.userExtraId, 'view']">{{ groupe.userExtraId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="projetticApp.groupe.projet">Projet</span></dt>
                <dd>
                    <div *ngIf="groupe.projetId">
                        <a [routerLink]="['/projet', groupe.projetId, 'view']">{{ groupe.projetId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/groupe', groupe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
