#ouvrirpdf {
  font-weight: bold;
  text-decoration: underline;
}

#dateArchive {
  margin-right: 10px;
  margin-left: 15px;
}

#boutonPostule {
  cursor: default;
}

#description {
  margin-top: 25px;
}

#descriptionPDF {
  margin-top: 25px;
}

#final {
  background-color: #a7a7a7;
  margin-bottom: 20px;
}

#labelCdc {
  margin-top: 15px;
}

#labelSoutenance {
  margin-top: 15px;
}

#labelRendu {
  margin-top: 15px;
}

#labelMoyenne {
  margin-top: 15px;
}

#boutonsDocuments label {
  margin-left: 10px;
}

#boutonsDocuments button {
  margin-bottom: 3px;
}
