#ouvrirpdf {
  font-weight: bold;
  text-decoration: underline;
}

#dateArchive {
  margin-right: 10px;
  margin-left: 15px;
}

#boutonPostule {
  cursor: default;
}

#description {
  margin-top: 25px;
}

#descriptionPDF {
  margin-top: 25px;
}
