<div class="row">
    <div class="col-12">
        <form name="editForm" role="form" novalidate (ngSubmit)="saveProject()" [formGroup]="editForm">
            <div *ngIf="!editForm.get('id')!.value">
                <h2 jhiTranslate="projetticApp.projet.home.create"></h2>
            </div>
            <div *ngIf="editForm.get('id')!.value">
                <h2  jhiTranslate="projetticApp.projet.home.edit"></h2>
            </div>

            <div>
                <hr>

                <!-- Nom projet -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetticApp.projet.nom" for="field_nom"></label>
                    <span> *</span>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <!-- Description Texte -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetticApp.projet.descriptionTexte" for="field_descriptionTexte"></label>
                    <textarea id="field_descriptionTexte" class="form-control"  formControlName="descriptionTexte" name="descriptionTexte" rows="5" cols="33"> </textarea>
                </div>

                <!-- Description PDF -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetticApp.projet.descriptionPDF" for="field_descriptionPDF"></label>
                    <div>
                        <div *ngIf="editForm.get('descriptionPDF')!.value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('descriptionPDFContentType')!.value, editForm.get('descriptionPDF')!.value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{ editForm.get('descriptionPDFContentType')!.value }}, {{ byteSize(editForm.get('descriptionPDF')!.value) }}</span>
                            <button type="button" (click)="editForm.patchValue({descriptionPDF: null});editForm.patchValue({descriptionPDFContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_descriptionPDF" (change)="setFileData($event, 'descriptionPDF', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="descriptionPDF" id="field_descriptionPDF"
                           formControlName="descriptionPDF"/>
                    <input type="hidden" class="form-control" name="descriptionPDFContentType" id="field_descriptionPDFContentType"
                           formControlName="descriptionPDFContentType" />
                </div>

               <!-- Nombre d'étudiant -->
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="projetticApp.projet.nbEtudiant" for="field_nbEtudiant"></label>
                    <select id="field_nbEtudiant" class="form-control" name="nbEtudiant"  formControlName="nbEtudiant" [(ngModel)]="defaultStudentNumber">
                        <option *ngFor="let index of [2,3,4,5,6,7,8,9,10]" [selected]="index === defaultStudentNumber">{{ index }} </option>
                    </select>
                </div>

                <!-- CURSUS -->
                <div id="" class="form-group">
                    <label class="form-control-label" for="cursus" jhiTranslate="register.form.label.cursus"></label>

                    <select name="cursus" id="cursus" class="form-control" formControlName="cursus" [(ngModel)]="defaultGrade">
                        <option *ngFor="let niveau of grade; index as i" [selected]="niveau === defaultGrade">{{ niveau }}</option>
                    </select>
                </div>

            </div>

            <div>
                <small class="form-text text-danger" jhiTranslate="global.champs.annotation">
                </small>
                <br>
            </div>

            <!-- Bouton -->
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel"></span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save"></span>
                </button>
            </div>
        </form>
    </div>
</div>
