<div class="row justify-content">
    <div class="col-12">
        <h2>{{project.nom}}</h2>
        <div>
            <div id="boutonsDocuments">
                <div>
                    <button *ngIf="cdcDoc !== null" type="button"
                            (click)="openFile(cdcDoc.docContentType, cdcDoc.doc)"
                            class="btn btn-primary">
                        <span jhiTranslate="projetticApp.projet.rate.ouvrir"></span>
                    </button>
                    <button *ngIf="cdcDoc === null" type="button"
                            disabled="disabled"
                            class="btn btn-danger">
                        <span jhiTranslate="projetticApp.projet.rate.ouvrir"></span>
                    </button>
                    <label *ngIf="cdcDoc === null" jhiTranslate="projetticApp.projet.rate.manquant"></label>
                    <label jhiTranslate="projetticApp.projet.rate.cahierDesCharges"></label>
                </div>
                <div>
                    <button *ngIf="ganttDoc !== null" type="button"
                            (click)="openFile(ganttDoc.docContentType, ganttDoc.doc)"
                            class="btn btn-primary">
                        <span jhiTranslate="projetticApp.projet.rate.ouvrir"></span>
                    </button>
                    <button *ngIf="ganttDoc === null" type="button"
                            disabled="disabled"
                            class="btn btn-danger">
                        <span jhiTranslate="projetticApp.projet.rate.ouvrir"></span>
                    </button>
                    <label *ngIf="ganttDoc === null" jhiTranslate="projetticApp.projet.rate.manquant"></label>
                    <label jhiTranslate="projetticApp.projet.rate.gantt"></label>
                </div>
                <div>
                    <button *ngIf="renduDoc !== null" type="button"
                            (click)="openFile(renduDoc.docContentType, renduDoc.doc)"
                            class="btn btn-primary">
                        <span jhiTranslate="projetticApp.projet.rate.ouvrir"></span>
                    </button>
                    <button *ngIf="renduDoc === null" type="button"
                            disabled="disabled"
                            class="btn btn-danger">
                        <span jhiTranslate="projetticApp.projet.rate.ouvrir"></span>
                    </button>
                    <label *ngIf="renduDoc === null" jhiTranslate="projetticApp.projet.rate.manquant"></label>
                    <label jhiTranslate="projetticApp.projet.rate.rendu"></label>
                </div>
            </div>
            <jhi-alert-error></jhi-alert-error>
            <hr>

            <div>
                <!-- Edition des notes -->
                <div>
                    <div class="col-sm-6">
                        <label id="labelCdc" class="form-control-label"  for="specsRate" jhiTranslate="projetticApp.projet.rate.noteCahierDesCharges"></label>
                        <input type="text" class="form-control" name="specsRate" id="specsRate" (input)="calculateFinalRate()"/>
                    </div>

                    <div class="col-sm-6">
                        <label id="labelCoefCdc" class="form-control-label"  for="specsCoef" jhiTranslate="projetticApp.projet.rate.coefCahierDesCharges"></label>
                        <input type="text" class="form-control" name="specsCoef" id="specsCoef" [(ngModel)]="specsCoef" (input)="calculateFinalRate()"/>
                    </div>
                </div>

                <div>
                    <div class="col-sm-6">
                        <label id="labelSoutenance" class="form-control-label" for="ganttsRate" jhiTranslate="projetticApp.projet.rate.noteSoutenance"></label>
                        <input type="text" class="form-control" name="ganttsRate" id="ganttsRate" (input)="calculateFinalRate()"/>
                    </div>

                    <div class="col-sm-6">
                        <label id="labelCoefgantts" class="form-control-label"  for="ganttsCoef" jhiTranslate="projetticApp.projet.rate.coefCahierDesCharges"></label>
                        <input type="text" class="form-control" name="ganttsCoef" id="ganttsCoef" [(ngModel)]="ganttsCoef" (input)="calculateFinalRate()"/>
                    </div>
                </div>

                <div>
                    <div class="col-sm-6">
                        <label id="labelRendu" class="form-control-label" for="outputRate" jhiTranslate="projetticApp.projet.rate.noteRendu"></label>
                        <input type="text" class="form-control" name="outputRate" id="outputRate" (input)="calculateFinalRate()"/>
                    </div>

                    <div class="col-sm-6">
                        <label id="labelCoefoutput" class="form-control-label"  for="outputCoef" jhiTranslate="projetticApp.projet.rate.coefCahierDesCharges"></label>
                        <input type="text" class="form-control" name="outputCoef" id="outputCoef" [(ngModel)]="outputCoef" (input)="calculateFinalRate()"/>
                    </div>
                </div>

                    <!-- Note finale, non éditable -->
                <label id="labelMoyenne" class="form-control-label" for="final" jhiTranslate="projetticApp.projet.rate.moyenne"></label>
                <input type="number" class="form-control" name="final" id="final" disabled="disabled" [(ngModel)]="finalRate"/>
            </div>
            <div>
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>

                <button *ngIf="cdcDoc !== null && ganttDoc !== null && renduDoc !== null" type="button"
                        (click)="evaluate()"
                        class="btn btn-primary">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="projetticApp.projet.rate.noter"></span>
                </button>
                <button *ngIf="cdcDoc === null || ganttDoc === null || renduDoc === null" type="button"
                        disabled="disabled"
                        class="btn btn-danger">
                    <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="projetticApp.projet.rate.noter"></span>
                </button>
            </div>
        </div>
    </div>
</div>
