#ouvrirpdf {
  font-weight: bold;
  text-decoration: underline;
}

#dateArchive {
  margin-right: 10px;
  margin-left: 15px;
  width: 25%;
}

@media (max-width: 576px) {
  #dateArchive {
    width: 60%;
  }
}

.label-projet-archive {
  margin-bottom: 0;
}

#boutonPostule {
  cursor: default;
}

#description {
  margin-top: 25px;
}

#descriptionPDF {
  margin-top: 25px;
}

#final {
  background-color: #a7a7a7;
  margin-bottom: 20px;
}

#boutonsDocuments label {
  margin-left: 10px;
}

#boutonsDocuments button {
  margin-bottom: 3px;
}

.filterButtons button {
  margin: 0 3px 7px 0;
}

.filterButtons button:focus {
  box-shadow: none;
}

.filterButtons :nth-child(1n + 4) {
  width: 60px;
}

.vertical-line {
  border-left: 1px solid;
  margin: 0 15px 0 10px;
}

@media (max-width: 576px) {
  .filterButtons :nth-child(1n + 4) {
    width: 40px;
  }

  .vertical-line {
    border: 0;
    margin-right: 50%;
  }
}

/* Notation projet */
#labelMoyenne {
  margin-top: 20px;
}

@media (min-width: 577px) {
  #labelCoefCdc,
  #labelCoefgantts,
  #labelCoefoutput {
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  #soutenance,
  #rendu {
    margin-top: 20px;
  }

  #labelCoefCdc,
  #labelCoefgantts,
  #labelCoefoutput {
    margin-top: 5px;
  }
}
