#navigateur img {
  width: 50%;
}

[ng-reflect-collapsed='false'] {
  border-top: 1px solid black;
  margin-top: 20px !important;
}

#navigateur {
  border-bottom: 1px solid #cccccc;
}

#navigateur,
#navigateur .dropdown-menu {
  background-color: #f1f1f1;
}

#navigateur a {
  color: #09a2df;
}

#navigateur #logo {
  width: 60%;
}

#navigateur .nav-link {
  white-space: nowrap;
}

#navigateur .dropdown-item {
  padding-left: 5%;
}

.dropdown-item.active,
.dropdown-item:hover {
  color: white !important;
}

@media (max-width: 768px) {
  #navigateur a {
    font-size: 12px;
  }
  #navigateur img {
    width: 100%;
  }
}
