<div class="row">
    <div class="col-md-12">

        <h2 class="display-6" jhiTranslate="home.title"></h2>

        <p class="lead underline" jhiTranslate="home.subtitle"></p>

        <!-- Client -->
        <div class="role underline" jhiTranslate="home.client.role"> </div>
        <ul>
            <li class="text" jhiTranslate="home.client.one"></li>
            <li class="text" jhiTranslate="home.client.two"></li>
            <li class="text" jhiTranslate="home.client.three"></li>
            <li class="text" jhiTranslate="home.client.four"></li>
            <li class="text" jhiTranslate="home.client.five"></li>
        </ul>

        <!-- Admin -->
        <div class="role underline" jhiTranslate="home.admin.role"></div>
        <ul>
            <li class="text" jhiTranslate="home.admin.one"> </li>
            <li class="text" jhiTranslate="home.admin.two">  </li>
            <li class="text" jhiTranslate="home.admin.three"> </li>
        </ul>

        <!-- Student -->
        <div class="role underline" jhiTranslate="home.student.role"> </div>
        <ul>
            <li class="text" jhiTranslate="home.student.one">  </li>
            <li class="text" jhiTranslate="home.student.two">  </li>
            <li class="text" jhiTranslate="home.student.three">  </li>
        </ul>
    </div>
    <div class="col-sm-12" id="nouvelleAnnee" *ngIf="isAdmin() && isEtudiantActif() && !isDesactive">
        <button id="boutonNouvelleAnnee" class="btn btn-danger btn-sm" (click)="nouvelleAnnee()">
            <span class="d-none d-md-inline" jhiTranslate="home.nouvelleAnnee"></span>
        </button>
    </div>
</div>
