@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';
@import '~ngx-toastr/toastr';
/* ==============================================================
Bootstrap tweaks
===============================================================*/

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  background: #f1f1f1;
  color: #000000c7;
  border: 1px solid #cccccc;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/
html,
body {
  background-color: #cbe3ed;
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */
.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* ==========================================================================
Text
========================================================================== */
.upper {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

/* ==========================================================================
Margin
========================================================================== */
.man {
  margin: 0;
}

.mas {
  margin: 5px;
}

.mam {
  margin: 10px;
}

.mal {
  margin: 15px;
}

/* ==========================================================================
Margin-top
========================================================================== */
.mtn {
  margin-top: 0;
}

.mts {
  margin-top: 5px;
}

.mtm {
  margin-top: 10px;
}

.mtl {
  margin-top: 15px;
}

/* ==========================================================================
Margin-left
========================================================================== */
.mln {
  margin-left: 0;
}

.mls {
  margin-left: 5px;
}

.mlm {
  margin-left: 10px;
}

.mll {
  margin-left: 15px;
}

/* ==========================================================================
Margin-bottom
========================================================================== */
.mbn {
  margin-bottom: 0;
}

.mbs {
  margin-bottom: 5px;
}

.mbm {
  margin-bottom: 10px;
}

.mbl {
  margin-bottom: 15px;
}

/* ==========================================================================
Margin-right
========================================================================== */
.mrn {
  margin-right: 0;
}

.mrs {
  margin-right: 5px;
}

.mrm {
  margin-right: 10px;
}

.mrl {
  margin-right: 15px;
}

/* ==========================================================================
Hoverable Menu Navbar
========================================================================== */
.hoverable {
  tranform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.hoverable:hover,
[aria-expanded='true'] {
  transform: translateY(-5px);
  font-weight: bold;
}

/* ==========================================================================
Elements Margin
========================================================================== */
.input-group {
  margin-bottom: 2%;
}

fa-icon {
  margin-right: 3px;
}

/* ==========================================================================
Tables design
========================================================================== */
table {
  background: #cbe3ed;
  border-radius: 0.25rem;
  color: #000000c7 !important;
}

table a {
  color: #000000c7;
  text-decoration: underline;
}

table a:hover {
  font-weight: bold;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f1f1f1;
}

tr:not(:first-child):hover,
.table-striped tbody tr:nth-of-type(odd):hover {
  background-color: #0883b4;
  color: white;
}

table tbody tr:hover a {
  color: white;
}

th {
  border: 1px solid #444 !important;
  border-bottom: 4px solid #444 !important;
  text-align: center;
  vertical-align: middle !important;
  text-transform: uppercase;
}

td {
  border: 1px solid #444 !important;
  vertical-align: middle !important;
}

dt {
  margin-top: 2% !important;
}

/* ==========================================================================
Popin
========================================================================== */
jhi-login-modal,
.popin {
  background: #dadada;
  color: #000000c7;
}

.close {
  color: #000000c7;
}

.close:hover {
  color: black;
}

/* ==========================================================================
Responsive
========================================================================== */
@media (max-width: 736px) {
  #profil {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 2rem;
  }
  .lead {
    font-size: 0.9rem;
  }
  body,
  select,
  button,
  input {
    font-size: 0.7rem !important;
  }
  .btn-group {
    flex-direction: column;
  }
  .btn-group .btn {
    margin: 1px;
    border-radius: 0;
    margin-left: 0;
    width: 100px;
  }
}

/* ==========================================================================
Filtres cursus
========================================================================== */
.filterButtons button {
  margin: 0 3px 7px 0;
}

.filterButtons :nth-child(1n + 2) {
  width: 76px;
}

@media (max-width: 576px) {
  .filterButtons :nth-child(1n + 2) {
    width: 50px;
  }
}

/* ==========================================================================
Pagination
========================================================================== */
.pagination {
  float: right;
  margin: 10px 0;
}

a.page-link {
  background: #375a7f;
}

a.page-link,
.page-item.disabled a.page-link {
  border-left: 1px solid #578090;
}

a.page-link:hover {
  background: #cbe3ed;
  color: #000000c7;
}

.page-item.active a.page-link {
  background: #0883b4;
}

.page-item.disabled a.page-link {
  background: #444;
}
